@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --primary: #121314;
    --secondary: #131415;
    --hover: #18191a;
    --accent: #7ECA9C;
    --hover-accent: #a2d4b6;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Google Sans Code", "monospace";
}

body {
    background-color: var(--secondary);
    color: white;
}

main {
    background: url("/images/background.png");
    background-repeat: repeat-x;
}

nav {
    background-color: var(--primary);
    border-bottom: 2px solid var(--hover);
    display: flex;
    padding: 0 10px 0 10px;
}

nav * {
    list-style: none;
    color: white;
}

nav a {
    display: flex;
    padding: 1em 1em;
    text-decoration: none;
    transition: background-color 100ms ease-in-out;
}

nav a:hover {
    background-color: var(--hover);
    border-bottom: 2px solid;
    border-color: var(--hover-accent);
}

.current a{
    border-bottom: 2px solid var(--accent);
}

#blog {
    margin-left: auto;
}

.big-title {
    font-size: 5em;
}

.container {
    display: flex;
    gap: min(5em, 10%);
    padding: min(5em, 10%);
}

p {
    font-size: 1.5em;
}

span {
    color: var(--accent);
}