@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
:root {
    --primary: #282c33;
    --hover: #393d4a;
    --accent: #7ECA9C;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Fira Code", "monospace";
}

body {
    background-color: var(--primary);
}

nav {
    border-bottom: 2px solid var(--hover);
    display: flex;
}

nav * {
    list-style: none;
    color: white;
}

nav a {
    display: flex;
    padding: 1em 1em;
    text-decoration: none;
    transition: background-color 100ms ease;
}

nav a:hover {
    background-color: var(--hover);
}

.current {
    border-bottom: 2px solid #7ECA9C;
}

#blog {
    margin-left: auto;
}

